<div class="container-card">
  <div class="cards-flag" *ngIf="paises !== null; else sinPaises">
    <a
      *ngFor="let pais of paises; let i = index"
      class="card-flag"
      [routerLink]="['../pais', pais.alpha3Code]"
    >
      <img class="card-img" [src]="pais.flag" />
      <span class="card-title">
        <h3>{{ pais.name }}</h3>
      </span>

      <span class="card-summary">
        <i class="fa fa-user"></i> {{ "Poblacion:" | uppercase }}
        {{ pais.population | number }}
      </span>
      <span class="card-meta"> Capital: {{ pais.capital | uppercase }} </span>
    </a>
  </div>
</div>
<ng-template #sinPaises>
  <div *ngIf="termino !== ''" class="alert alert-danger" role="alert">
    El país {{ termino }} no tiene fronteras
  </div>
</ng-template>
