:root {
  --color-red100: #e84545;
  --color-red50: #903749;
  --color-red30: #53354a;
  --color-indigo700: #3d0a91;
  --color-blueDemon: #2b2e4a;
  --color-indigo900: #140330;
  --color-gray700: #495057;
  --color-gray900: #212529;
}
body {
  background-color: #f3f3f3;
}

.circleLoader {
  margin: 0px;
  display: inline-block;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 6px solid var(--color-gray700);
  animation: circ-anim 0.8s linear infinite;
}

.circle-5 {
  border: 5px solid var(--color-gray700);
  position: relative;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.circle-5:after {
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  background: transparent;
  top: 50%;
  left: 50%;
  margin-left: -40%;
  margin-top: -40%;
  border-radius: 50%;
  border: 3px solid var(--color-gray900);
  box-sizing: border-box;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: circ-anim 0.4s reverse linear infinite;
}

@keyframes circ-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* style card 
.card-flag {
	display: inline-block;
	width: 300px;
	height: 250px;
	background-color: #fff;
	background: linear-gradient(#f8f8f8, #fff);
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	margin: 1.5rem;
}

.card-flag-md {
	width: 450px;
	height: 350px;
	margin: 2rem;
}
.card-flag-lg {
	width: 600px;
	height: 450px;
	margin: 2rem;
}

.card-flag h3 {
	text-align: center;
}

.card-flag .additional {
	position: absolute;
	width: 40%;
	height: 100%;
	background: radial-gradient(
		circle at 23.5% 81.59%,
		var(--color-gray700) 0,
		var(--color-gray700) 50%,
		var(--color-gray900) 100%
	);
	transition: width 0.4s;
	overflow: hidden;
	z-index: 2;
}

.card-flag:hover .additional {
	width: 100%;
	border-radius: 0 5px 5px 0;
}

.card-flag .additional .more-info {
	width: 100%;
	float: left;
	left: 100%;
	top: 0px;
	position: absolute;
	height: 100%;
	transition: all 300ms ease-in-out;
}
.card-flag:hover .additional .more-info {
	left: 0%;
}

.card-flag .additional .more-info h3 {
	color: #fff;
	margin-top: 1rem;
	margin-bottom: 0;
}

.card-flag .additional .coords {
	margin: 0rem 2rem;
	color: #fff;
	font-size: 1.1rem;
}

.card-flag .additional .coords span + span {
	float: right;
}

.stats {
	font-size: 2rem;
	display: flex;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	top: auto;
	color: #fff;
}

.general .stats {
	flex-direction: column;
}

.stats > div {
	flex: 1;
	text-align: center;
}

.stats i {
	display: block;
}

.stats div.title {
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
}
.stats div.title a {
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}

.stats div.value {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.5rem;
}

.general .stats {
	color: #222;
}
.card-flag .general {
	width: 60%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	padding: 0.5rem;
}

.img-card-flag {
	position: absolute;

	width: 80%;
	height: 45%;
	top: 27.5%;
	left: 10%;
} */
